<pb-hero></pb-hero>

<main class="container center" id="maincontent">

  <section class="page-area">

      <pb-article class="text-box">
        <h1>Be Realistic</h1>
        <blockquote cite="https://www.goodreads.com/author/show/4356.George_Washington">
          “We must consult our means rather than our wishes.”<br><br> ― George Washington
        </blockquote>
      </pb-article>

      <pb-article class="text-box">
        <h1>Cut the Excess</h1>
        <blockquote cite="https://www.goodreads.com/author/show/205.Robert_A_Heinlein">
          “Budget the luxuries first.”<br><br> ― Robert A. Heinlein
        </blockquote>
      </pb-article>

      <pb-article class="text-box">
        <h1>Stay Disciplined</h1>
        <blockquote cite="https://www.goodreads.com/author/show/44526.Dave_Ramsey">
          “A budget is telling your money where to go instead of wondering where it went.”<br><br> ― Dave Ramsey
        </blockquote>
    </pb-article>

      <pb-article class="text-box">
        <h1>Achieve Greatness</h1>
        <blockquote cite="https://www.goodreads.com/author/show/7330.Sinclair_Lewis">
          “It isn't what you earn but how spend it that fixes your class.”<br><br> ― Sinclair Lewis
        </blockquote>
      </pb-article>

  </section>

</main>
